@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Rowdies:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.cont {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: #fffdf6;
}

.header {
  grid-row: 1;
  display: block;
  /* height: 10%; */
  width: 70%;
  /* text-align: center; */
  margin: auto;
  padding: 25px 0px;
  border-bottom: 2px solid black;
}

.loginForm {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.title {
  margin-right: 10%;
  margin-left: auto;
  /* margin-top: 20px; */
  /* padding-bottom: 60px; */
  width: 40%;
  height: 50%;
  border: solid 2px black;
  border-radius: 5px;
  grid-column: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.userLog {
  margin-left: 0%;
  /* padding: 20px 0; */

  /* width: 50%; */
  height: 50%;
  /* border: solid 5px black; */
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitBtn {
  width: 20%;
}

.inp {
  width: 50%;
  padding-left: 10px;
}

.footer {
  /* height: 50%; */
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 40px;
  border-top: black solid 3px;
  background-color: black;
  color: white;
}
.libDet {
  grid-column: 1;
}
.emailPhone {
  grid-column: 2;
}
.techHelp {
  grid-column: 3;
}

.rad {
  padding: 10px;
  padding-left: 0;
}
