@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Rowdies:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.maincont {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  column-gap: 10px;
}

.leftcont {
  grid-column: 1;
  /* border: 2px black solid; */
  height: 100%;
  /* margin-right: 5px; */
  display: grid;
  grid-template-rows: 1fr 5fr;
  row-gap: 10px;
}
.rightcont {
  grid-column: 2;
  /* border: 2px black solid; */
  height: 100%;
  width: 100%;
  /* margin-left: 5px; */
  display: grid;
  grid-template-rows: 1fr 5fr;
  /* border: solid green 1px; */
  row-gap: 10px;
}

.logo {
  grid-row: 1;
  height: 100%;
  width: 100%;
  border: solid green 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.profile {
  grid-row: 2;
  text-align: center;
  height: 100%;
  width: 100%;
  border: solid green 1px;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.header {
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  /* padding-bottom: 50px; */
  border: solid 1px black;
}
.profile h5 {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
  margin: 20px;
}
.profCont {
  grid-row: 2;
}
